@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
html,
body {
  font-family: 'Poppins', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  padding: 5px 0;
}
@media (max-width: 500px) {
  nav {
    height: 56px;
    justify-content: center;
    flex-direction: row-reverse;
    background: #0E7C7B;
    max-width: 100%;
    color: #FFFFFF;
  }
}
nav .left-nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
nav .home-link {
  margin-right: 2%;
}
@media (max-width: 1000px) {
}
@media (max-width: 500px) {
  nav .logo {
    display: none;
  }
}
nav a {
  text-decoration: none;
  color: #362E34;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 500px) {
  nav a {
    color: #FFFFFF;
  }
}
nav a:hover {
  color: #94909B;
}
@media screen {
  nav a:hover {
    color: #94909B;
  }
}
nav .buttons {
  display: flex;
  justify-content: space-around;
}
nav .sign-up-btn {
  background-color: #0E7C7B;
  padding: 8px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #0E7C7B;
}
nav .sign-up-btn:hover {
  color: #362E34;
  background-color: #FFFFFF;
}
@media (max-width: 500px) {
  nav .sign-up-btn:hover {
    color: #94909B;
    background: none;
  }
}
@media (max-width: 500px) {
  nav .sign-up-btn {
    padding: 0;
    margin: 0;
    margin-right: 25px;
    color: #FFFFFF;
  }
}
nav .log-in-btn {
  background-color: #F0F0F0;
  padding: 8px 0px;
  text-align: center;
  width: 80px;
  border-radius: 5px;
  color: #362E34;
  margin-left: 15px;
}
nav .log-in-btn:hover {
  color: #F0F0F0;
  background-color: #362E34;
}
@media (max-width: 500px) {
  nav .log-in-btn:hover {
    color: #94909B;
    background: none;
  }
}
@media (max-width: 500px) {
  nav .log-in-btn {
    padding: 0;
    margin: 0;
    margin-right: 25px;
    color: #FFFFFF;
    border: none;
    background: none;
  }
}
.hero-img {
  background-image: url('/img/helicopter.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 656px;
}
@media (max-width: 1000px) {
  .hero-img {
    height: 400px;
  }
}
.hero-img .img-overlay {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60%;
  padding-top: 5%;
}
@media (max-width: 1000px) {
  .hero-img .img-overlay {
    margin: 0 auto;
    max-width: 80%;
  }
}
.hero-img .img-overlay h2 {
  font-size: 4.8rem;
  font-weight: 600;
}
@media (max-width: 500px) {
  .hero-img .img-overlay h2 {
    font-size: 2.5rem;
  }
}
.hero-img .img-overlay h3 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 0.5%;
}
@media (max-width: 500px) {
  .hero-img .img-overlay h3 {
    font-size: 2rem;
  }
}
.hero-img .img-overlay p {
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .hero-img .img-overlay p {
    font-size: 1.6rem;
  }
}
.hero-img .img-overlay input {
  padding: 5.5px 0;
  width: 50%;
  border-radius: 5px 0 0 5px;
  font-size: 2rem;
}
.hero-img .img-overlay .find-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero-img .img-overlay .find-button p {
  background: #0E7C7B;
  padding: 11px 30px;
  border-radius: 0 5px 5px 0;
}
.hero-img .img-overlay .find-button p:hover {
  color: #0E7C7B;
  background: #FFFFFF;
}
.lower-half {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .lower-half {
    flex-direction: column-reverse;
  }
}
.tour-guide-sign-up {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2% 0;
}
.tour-guide-sign-up h2 {
  font-size: 4.8rem;
  font-weight: 600;
}
@media (max-width: 500px) {
  .tour-guide-sign-up h2 {
    display: none;
  }
}
.tour-guide-sign-up h3 {
  font-size: 2rem;
  padding: 3% 0;
}
@media (max-width: 500px) {
  .tour-guide-sign-up h3 {
    display: none;
  }
}
.tour-guide-sign-up .large-sign-up {
  background: #0E7C7B;
  width: 90%;
  padding: 2% 0;
  border-radius: 5px;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 3.6rem;
  border: 1px solid #0E7C7B;
  cursor: pointer;
}
.tour-guide-sign-up .large-sign-up:hover {
  color: #0E7C7B;
  background: #FFFFFF;
}
@media (max-width: 500px) {
  .tour-guide-sign-up .large-sign-up {
    width: 400px;
  }
}
.logo2 {
  display: none;
}
@media (max-width: 500px) {
  .logo2 {
    display: flex;
    justify-content: center;
    padding: 2% 0;
  }
}
.testimonials {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .testimonials {
    flex-direction: column;
  }
}
.testimonials .cards {
  display: flex;
  width: 32%;
}
@media (max-width: 500px) {
  .testimonials .cards {
    width: 100%;
    padding: 2% 1%;
  }
}
.testimonials .cards img {
  max-width: 100%;
}
.testimonials .cards .card-text {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  padding: 5% 5%;
}
.testimonials .cards .card-text h3 {
  font-weight: 500;
  font-size: 1.8rem;
}
.testimonials .cards .card-text p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 125%;
}
footer {
  margin-top: 2%;
  width: 100%;
  height: 10vh;
  background: #0E7C7B;
}
.hero-img-about {
  background-image: url('/img/mountains.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 368px;
}
.about-overlay {
  color: #FFFFFF;
  font-size: 4rem;
  display: none;
  text-align: center;
  font-weight: 600;
}
.about-text {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 2rem;
  padding: 2% 2%;
  line-height: 160%;
}
@media (max-width: 1000px) {
  .about-text {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .about-text {
    font-size: 1.2rem;
  }
}
.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-member {
  width: 30%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  .team-member {
    width: 48%;
    padding: 0;
  }
}
.team-member h3 {
  font-weight: 500;
  font-size: 2.7rem;
  margin-bottom: 2%;
}
@media (max-width: 1000px) {
  .team-member h3 {
    font-size: 1.8rem;
  }
}
.team-member p {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 2%;
}
@media (max-width: 1000px) {
  .team-member p {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .team-member p {
    font-size: 1.2rem;
  }
}
.team-member img {
  max-width: 80%;
}
@media (max-width: 1000px) {
  .team-member img {
    max-width: 90%;
  }
}
