header {
    background-image: url('/img/helicopter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    .img-overlay {
        color: @white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-left: 60%;
        
        padding-top: 5%;
        @media @tablet {
            margin: 0 auto;
            max-width: 80%;
            
            
        }
        h2 {
            font-size: 4.8rem;
            font-weight: 600;
        }
        h3 {
            font-size: 3.6rem;
            font-weight: 600;
            margin-top: 2%;
            margin-bottom: .5%;
        }
        p {
            padding-bottom: 20px;
            padding-top: 10px;
            font-size: 1.6rem;
            font-weight: 500;
        }
        input {
            padding: 5.5px 0;
            width: 50%;
            border-radius: 5px 0 0 5px;
            font-size: 2rem;
        }
        .find-button {
            display: flex;
            align-items: center;
            cursor: pointer;
            
            p {
                background: @surfie-green; 
                padding: 11px 30px;
                border-radius: 0 5px 5px 0;
                
                &:hover {
                    color: @surfie-green;
                    background: @white;
                }
            }
        }
    }
}

.tour-guide-sign-up {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2% 0;
    h2 {
        font-size: 4.8rem;
        font-weight: 600;
    }
    h3 {
        font-size: 2rem;
        padding: 3% 0;
    }
    .large-sign-up {
        background: @surfie-green;
        width: 90%;
        padding: 2% 0;
        border-radius: 5px;
        margin: 0 auto;
        color: @white;
        font-weight: 600;
        font-size: 3.6rem;
        border: 1px solid @surfie-green;
        cursor: pointer;
        &:hover {
            color: @surfie-green;
            background: @white;

        }
    }

}

.testimonials {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    
    @media @phone {
        flex-direction: column;
    }
    
    .cards {
        display: flex;
        
        width: 32%;
        
        
        @media @phone {
            width: 100%;
        }
        img {
            max-width: 100%;
        }
        .card-text {
            display: flex;
            flex-direction: column;
            
            background-color: @gallery;
            padding: 5% 5%;
            h3 {
            font-weight: 500;
            font-size: 1.8rem;
            }
            p {
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 125%;
            }
        }
    }
}