//colors

@surfie-green: #0E7C7B;
@white: #FFFFFF;
@thunder: #362E34;
@gallery: #F0F0F0;
@mountain-mist: #94909B;

//fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@main-font: 'Poppins', sans-serif;

//Media Queries
@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';